<!DOCTYPE html>
<html>
<head>
<title>Bienvenido al Taller Construyendo Aplicaciones Web Modernas y Escalables con Java!</title>
<style>
    body {
        width: 35em;
        margin: 0 auto;
        font-family: Tahoma, Verdana, Arial, sans-serif;
    }
</style>
</head>
<body>
<h1>Bienvenido al Taller Construyendo Aplicaciones Web Modernas y Escalables con Java!</h1>

<p>Comunidad de usuarios y desarrolladores Java de República Dominicana.
    Organizador de <a href="https://jconfdominicana.org">JConf Dominicana</a> </p>

<p>Ir a la pagina de
<a href="https://twitter.com/JavaDominicano/">Java Dominicano</a>.<br/>

<p style="color: red; font-size: 30px">Host ({{ inventory_hostname_short }}): {{ ansible_host }}</em></p>
</body>
</html>
